@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #17202a;

  --primary: #2563eb;
  --primary-dark: #1d4ed8;
  --primary-soft: #eff6ff;

  --secundary: #49e3f7;
  --secundary-dark: #0ea5e9;
  --secundary-soft: #e0f2fe;

  --accent: #d97706;

  --surface: #ffffff;
  --surface-muted: #f1f5f9;

  --muted: #64748b;
  --border: #e2e8f0;

  --success: #00d251;
  --warning: #b45309;
  --danger: #b91c1c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-soft: var(--primary-soft);

  --color-secundary: var(--secundary);
  --color-secundary-dark: var(--secundary-dark);
  --color-secundary-soft: var(--secundary-soft);

  --color-accent: var(--accent);

  --color-surface: var(--surface);
  --color-surface-muted: var(--surface-muted);

  --color-muted: var(--muted);
  --color-border: var(--border);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

